version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: comp3123-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: comp3123_assignment2
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: comp3123-backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      MONGO_URI: mongodb://root:example@mongo:27017/comp3123_assignment2?authSource=admin
      PORT: 3000
    depends_on:
      - mongo
    ports:
      - "3000:3000"
   

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: comp3123-frontend
    restart: unless-stopped
    environment:
     
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - backend
    ports:
      - "3001:3000"
    

volumes:
  mongo_data:
